ion-content{
  margin-top:10px;
  }

  ion-title{
    text-align: center;
    padding: 5px;
  }
.container{
  text-align: center;
}
  
  ngx-qrcode{
      text-align: center;
  }
  
  card2{
    text-align: center;
   
  }

  .card{
    height: 100%;
  }

  ion-button{
    width: 100%;
  }